# Ignorar entornos virtuales
venv/
*.pyc
__pycache__/

# Ignorar archivos de configuración locales
.env
*.log

# Ignorar archivos de desarrollo
tests/
migrations/
*.sqlite3

# Ignorar archivos de sistema
.DS_Store
.vscode/
.idea/